click==8.1.7
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
filelock==3.13.1
fonttools==4.53.1
fsspec==2024.2.0
imbalanced-learn==0.12.3
imblearn==0.0
Jinja2==3.1.3
joblib==1.4.2
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.9.2
mpmath==1.3.0
networkx==3.2.1
nltk==3.9.1
numpy==1.26.3
packaging==24.1
pandas==2.2.2
pillow==10.2.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.7.24
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
setuptools==70.0.0
six==1.16.0
sympy==1.12
threadpoolctl==3.5.0
torch==2.4.1+cu121
torchaudio==2.4.1+cu121
torchvision==0.19.1+cu121
tqdm==4.66.5
typing_extensions==4.9.0
tzdata==2024.1
-e git+https://github.com/paolpal/vinum-analytica.git@17e192935bf5d7b60282f9aca34f9a0c4b5476a8#egg=vinum_analytica
